In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
df = pd.read_csv("../dataset/combined_dataset.csv")

In [3]:
df.head(1)

,abstract,web_url,lead_paragraph,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri
0,"Point of view — prescriptive, descriptive and ...",https://www.nytimes.com/2009/04/02/garden/02bo...,"Point of view  prescriptive, descriptive and ...","[{'rank': 0, 'subtype': 'articleInline', 'capt...","{'main': 'An Algebraic Approach to Style', 'ki...","[{'name': 'subject', 'value': 'Books and Liter...",2009-04-02 00:00:43+00:00,article,Home,Home & Garden,"{'original': 'By Penelope Green', 'person': [{...",News,nyt://article/b16284bd-135e-58f3-867a-268a1129...,252,nyt://article/b16284bd-135e-58f3-867a-268a1129...

In [4]:
df.columns

Index(['abstract', 'web_url', 'lead_paragraph', 'multimedia', 'headline',
       'keywords', 'pub_date', 'document_type', 'news_desk', 'section_name',
       'byline', 'type_of_material', '_id', 'word_count', 'uri'],
      dtype='object')

In [5]:
col_ke = ['abstract', 'lead_paragraph', 'headline', 'keywords', 'type_of_material', 'news_desk', 'section_name', 'byline']

df= df[col_ke]

In [6]:
df.head()

,abstract,lead_paragraph,headline,keywords,type_of_material,news_desk,section_name,byline
0,"Point of view — prescriptive, descriptive and ...","Point of view  prescriptive, descriptive and ...","{'main': 'An Algebraic Approach to Style', 'ki...","[{'name': 'subject', 'value': 'Books and Liter...",News,Home,Home & Garden,"{'original': 'By Penelope Green', 'person': [{..."
1,Ten high-end design galleries will offer 30 to...,"Ten high-end design galleries, including Antik...","{'main': 'Price Cuts and Gift-Card Rescues', '...","[{'name': 'subject', 'value': 'Furniture', 'ra...",News,Home,Home & Garden,"{'original': 'By Marianne Rohrlich', 'person':..."
2,Bankers may be suffering but the decline in de...,Bankers may be suffering but Wall Street’s leg...,"{'main': 'Lack of Mergers Idling Lawyers', 'ki...","[{'name': 'subject', 'value': 'Legal Professio...",News,Business,Business Day,"{'original': 'By Lauren Silva Laughlin, Rob Co..."
3,Florida scaled back its purchase of sugar comp...,MIAMI — The Everglades have become yet another...,{'main': 'Everglades Restoration Plan Shrinks'...,"[{'name': 'persons', 'value': 'Crist, Charlie'...",News,National,U.S.,"{'original': 'By Damien Cave', 'person': [{'fi..."
4,"Take-Two Interactive, the maker of Grand Theft...","Take-Two Interactive Software, the maker of th...",{'main': 'Video Game Maker to Pay $3 Million t...,"[{'name': 'subject', 'value': 'Suits and Litig...",News,Business,Technology,"{'original': 'By Bloomberg News', 'person': [{..."

In [7]:
print(df.loc[1, 'headline'])

{'main': 'Price Cuts and Gift-Card Rescues', 'kicker': 'Currents | Deals', 'content_kicker': None, 'print_headline': 'Price Cuts and Gift-Card Rescues', 'name': None, 'seo': None, 'sub': None}

In [8]:
print(df.loc[1, 'keywords'])

[{'name': 'subject', 'value': 'Furniture', 'rank': 1, 'major': 'N'}, {'name': 'subject', 'value': 'Sales', 'rank': 2, 'major': 'N'}, {'name': 'subject', 'value': 'Textiles', 'rank': 3, 'major': 'N'}]

### Extract value info from "headline" and "keywords"

In [9]:
#extract value texts from "headline" and "keywords"
def string_to_dict(string):
    try:
        return ast.literal_eval(string)
    except ValueError:
        return {}
    
def string_to_list_of_dicts(string):
    try:
        return ast.literal_eval(string)
    except ValueError:
        return []
#for the 'headline', extract the value associated with the 'main' key.
df['headline_text'] = df['headline'].apply(lambda x: string_to_dict(x).get('main', ''))

#for the "keywords", extract the "value" key
df['keywords_text'] = df['keywords'].apply(lambda x: ' '.join([kw.get('value', '') for kw in string_to_list_of_dicts(x)]))

In [10]:
df = df.drop(["headline", "keywords"], axis = 1)
df.head()

,abstract,lead_paragraph,type_of_material,news_desk,section_name,byline,headline_text,keywords_text
0,"Point of view — prescriptive, descriptive and ...","Point of view  prescriptive, descriptive and ...",News,Home,Home & Garden,"{'original': 'By Penelope Green', 'person': [{...",An Algebraic Approach to Style,Books and Literature Interior Design
1,Ten high-end design galleries will offer 30 to...,"Ten high-end design galleries, including Antik...",News,Home,Home & Garden,"{'original': 'By Marianne Rohrlich', 'person':...",Price Cuts and Gift-Card Rescues,Furniture Sales Textiles
2,Bankers may be suffering but the decline in de...,Bankers may be suffering but Wall Street’s leg...,News,Business,Business Day,"{'original': 'By Lauren Silva Laughlin, Rob Co...",Lack of Mergers Idling Lawyers,Legal Profession Banks and Banking Subprime Mo...
3,Florida scaled back its purchase of sugar comp...,MIAMI — The Everglades have become yet another...,News,National,U.S.,"{'original': 'By Damien Cave', 'person': [{'fi...",Everglades Restoration Plan Shrinks,"Crist, Charlie Everglades (Fla) Restoration an..."
4,"Take-Two Interactive, the maker of Grand Theft...","Take-Two Interactive Software, the maker of th...",News,Business,Technology,"{'original': 'By Bloomberg News', 'person': [{...",Video Game Maker to Pay $3 Million to Settle S...,Suits and Litigation Take-Two Interactive Soft...

### Concatenation of Text Features

In [11]:
df['combined_text'] = df['abstract'].astype(str) + ' ' + df['lead_paragraph'].astype(str) + ' ' + df['headline_text'].astype(str) + ' ' + df['keywords_text'].astype(str)

In [12]:
df = df.drop(['abstract', 'lead_paragraph', 'headline_text', 'keywords_text'], axis=1)

In [13]:
df.tail()

,type_of_material,news_desk,section_name,byline,combined_text
7059,News,Foreign,World,"{'original': 'By Marc Santora', 'person': [{'f...",Russia’s Ministry of Defense said it had destr...
7060,News,Foreign,International Home,"{'original': 'By Ian Austen', 'person': [{'fir...","Nelson, British Columbia, is one of several pl..."
7061,briefing,NYTNow,Briefing,"{'original': 'By Melissa Kirsch', 'person': [{...",Labor Day weekend marks the unofficial end of ...
7062,Op-Ed,OpEd,Opinion,"{'original': 'By Henry Grabar', 'person': [{'f...",The fight over congestion pricing gets at some...
7063,Op-Ed,OpEd,Opinion,"{'original': 'By Ilan Stavans', 'person': [{'f...",The language has been experiencing something o...

In [14]:
print(df.loc[1, 'combined_text'])

Ten high-end design galleries will offer 30 to 70 percent off modern and midcentury modern furniture on April 3 and 4. Ten high-end design galleries, including Antik, R20th Century, Cristina Grajales and Moss, will offer 30 to 70 percent off modern and midcentury modern furniture on April 3 and 4 at 520 West 19th Street (10th Avenue); for a complete list of participating galleries and sale hours: mossonline.com/ddgprivatesale.  Price Cuts and Gift-Card Rescues Furniture Sales Textiles

In [15]:
df["news_desk"].value_counts()

news_desk
Foreign                            749
Metro                              715
Sports                             708
National                           668
Business                           668
                                  ...
Sports / Soccer                      1
Watching                             1
Business / Energy & Environment      1
Live                                 1
Fashion & Style                      1
Name: count, Length: 65, dtype: int64

In [16]:
df["news_desk"].unique()

array(['Home', 'Business', 'National', 'SpecialSections', 'BookReview',
       'Metro', 'Foreign', 'Magazine', 'Sports', 'Editorial', 'OpEd',
       'Culture', 'Dining', 'Styles', 'SundayBusiness', 'Summary',
       'Science', 'Letters', 'TLiving', 'TCulture', 'Sports / Soccer',
       'US', 'Fashion & Style', 'Business / Energy & Environment',
       'Technology', 'Opinion', 'Weekend', 'NODESK', 'Society', 'TStyle',
       'Washington', 'RealEstate', 'Obits', 'Arts&Leisure', 'Upshot',
       'TDesign', 'CityWeekly', 'Travel', '0', 'Politics', 'NYTNow',
       'Express', 'Corrections', 'Learning', 'Smarter Living', 'Photo',
       'Games', 'Books', 'Well', 'Metropolitan', 'Climate', 'Video',
       'EdLife', 'Investigative', 'Universal', 'Podcasts', 'Gender',
       'NYTI', 'Neediest', 'Insider', 'NewsDesk', 'Watching', 'Parenting',
       'Live', 'AtHome'], dtype=object)

In [17]:
df["section_name"].unique()

array(['Home & Garden', 'Business Day', 'U.S.', 'Technology', 'Books',
       'New York', 'Science', 'Washington', 'World', 'Magazine', 'Sports',
       'Opinion', 'Crosswords & Games', 'Health', 'UrbanEye', 'Food',
       'Fashion & Style', 'Arts', 'Education', 'Theater', 'Corrections',
       'T Magazine', 'Movies', 'Real Estate',
       'Great Homes & Destinations', 'Blogs', 'The Upshot', 'Your Money',
       'Travel', 'Today’s Paper', 'NYT Now', 'Style', 'Briefing',
       'The Learning Network', 'Obituaries', 'Smarter Living', 'Lens',
       'Reader Center', 'Well', 'Climate', 'Times Insider', 'The Weekly',
       'Sunday Review', 'Podcasts', 'Neediest Cases', 'Watching',
       'Parenting', 'International Home', 'Automobiles', 'Admin', 'Video',
       'At Home'], dtype=object)

In [18]:
df["section_name"].value_counts()

section_name
U.S.                          943
Opinion                       823
New York                      758
World                         745
Sports                        727
Business Day                  581
Fashion & Style               402
Arts                          310
Books                         209
Style                         137
Corrections                   135
Crosswords & Games            134
The Learning Network          109
Technology                     95
Magazine                       81
Health                         74
Movies                         73
Today’s Paper                  73
Science                        71
Briefing                       70
Real Estate                    63
Food                           54
Travel                         53
Well                           52
Theater                        50
Education                      32
Home & Garden                  24
The Upshot                     24
Climate                        23
T Magazine                     20
Times Insider                  18
Obituaries                     16
Podcasts                       11
Smarter Living                 10
UrbanEye                        9
Your Money                      8
Reader Center                   7
Lens                            6
Washington                      5
At Home                         5
Parenting                       4
Admin                           4
Neediest Cases                  3
Great Homes & Destinations      2
International Home              2
Automobiles                     2
Video                           2
Blogs                           1
The Weekly                      1
Sunday Review                   1
NYT Now                         1
Watching                        1
Name: count, dtype: int64

### Consolidate Rare Categories in "news_desk

In [19]:

#Consolidate Rare Categories in "news_desk"

df['news_desk'] = df['news_desk'].replace({
    'Sports / Soccer': 'Sports',
    'Business / Energy & Environment': 'Business',
    'NODESK': 'Unknown',
    '0': 'Unknown',
    'Styles': 'Style & Fashion',
    'Fashion & Style': 'Style & Fashion',
    'TStyle': 'Style & Fashion',
    'Arts&Leisure': 'Arts & Culture',
    'Culture': 'Arts & Culture',
    'TCulture': 'Arts & Culture',
    'Editorial': 'Opinion & Editorial',
    'OpEd': 'Opinion & Editorial',
    'Opinion': 'Opinion & Editorial',
    'Dining': 'Lifestyle & Leisure',
    'Travel': 'Lifestyle & Leisure',
    'Well': 'Lifestyle & Leisure',
    'Home': 'Lifestyle & Leisure'
})

# Handling infrequent categories
infrequent_desks = df['news_desk'].value_counts()[df['news_desk'].value_counts() < 5].index
df['news_desk'] = df['news_desk'].replace(infrequent_desks, 'Other')

In [20]:
df["news_desk"].value_counts()

news_desk
Foreign                749
Metro                  715
Sports                 709
Business               669
National               668
Opinion & Editorial    664
Arts & Culture         357
Society                355
Lifestyle & Leisure    184
Style & Fashion        175
BookReview             170
Washington             169
Letters                161
Summary                136
Express                110
Learning               108
Games                  105
Politics                86
Science                 85
Weekend                 81
Magazine                81
Corrections             78
NYTNow                  71
SpecialSections         65
RealEstate              58
Metropolitan            42
SundayBusiness          40
Obits                   29
Other                   26
Upshot                  22
Climate                 20
Insider                 13
CityWeekly              10
Podcasts                10
Investigative            9
Photo                    8
AtHome                   8
Books                    7
Smarter Living           6
Unknown                  5
Name: count, dtype: int64

In [21]:
print(df.loc[1, 'byline'])

{'original': 'By Marianne Rohrlich', 'person': [{'firstname': 'Marianne', 'middlename': None, 'lastname': 'Rohrlich', 'qualifier': None, 'title': None, 'role': 'reported', 'organization': '', 'rank': 1}], 'organization': None}

### Extract Author's name from "byline"

In [22]:


def extract_author(byline):
    if pd.isna(byline) or not byline:
        return ''  # Return empty string if byline is NaN or empty

    try:
        byline_dict = ast.literal_eval(byline)
        if 'person' in byline_dict and byline_dict['person']:
            person_info = byline_dict['person'][0]
            first_name = person_info.get('firstname', '')
            last_name = person_info.get('lastname', '')
            return f"{first_name} {last_name}".strip()
        elif 'original' in byline_dict and byline_dict['original']:
            return byline_dict.get('original', '').split('By ')[-1].strip()
        else:
            return ''
    except (ValueError, SyntaxError):
        return ''

df['author'] = df['byline'].apply(extract_author)

df = df.drop(columns=['byline'])

In [23]:
df.head()

,type_of_material,news_desk,section_name,combined_text,author
0,News,Lifestyle & Leisure,Home & Garden,"Point of view — prescriptive, descriptive and ...",Penelope Green
1,News,Lifestyle & Leisure,Home & Garden,Ten high-end design galleries will offer 30 to...,Marianne Rohrlich
2,News,Business,Business Day,Bankers may be suffering but the decline in de...,Lauren Laughlin
3,News,National,U.S.,Florida scaled back its purchase of sugar comp...,Damien Cave
4,News,Business,Technology,"Take-Two Interactive, the maker of Grand Theft...",Bloomberg News

In [24]:
df["author"].value_counts()

author
                        1004
The Editorial Board      116
Deb Amlen                 60
The Learning Network      51
Tyler Kepner              42
                        ...
Stacey Stowe               1
Jeff Ihaza                 1
Tim Lahey                  1
Elia Alba                  1
Ilan Stavans               1
Name: count, Length: 2036, dtype: int64

In [25]:
df.to_csv('processced df.csv', index=False)