In [28]:
# INPUT = "../api/feb2024dataset/articles.csv"
# OUTPUT = "../api/feb2024dataset/processed_articles.csv"
INPUT = "../dataset/combined_dataset.csv"
OUTPUT = "processced df.csv"

In [29]:
import pandas as pd
import numpy as np
import ast

In [30]:
df = pd.read_csv(INPUT)

In [31]:
df.head(1)

,abstract,web_url,snippet,lead_paragraph,source,multimedia,headline,keywords,pub_date,document_type,...,section_name,byline,type_of_material,_id,word_count,uri,print_section,print_page,subsection_name,slideshow_credits
0,This word has appeared in 993 articles on NYTi...,https://www.nytimes.com/2024/02/26/learning/wo...,This word has appeared in 993 articles on NYTi...,The word reluctant has appeared in 993 article...,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'Word of the Day: reluctant', 'kicker...",[],2024-02-26 07:00:02+00:00,article,...,The Learning Network,"{'original': 'By The Learning Network', 'perso...",News,nyt://article/94ea87e4-8534-5180-8b5a-85a09dae...,339,nyt://article/94ea87e4-8534-5180-8b5a-85a09dae...,NaN,NaN,NaN,NaN

In [32]:
df.columns

Index(['abstract', 'web_url', 'snippet', 'lead_paragraph', 'source',
       'multimedia', 'headline', 'keywords', 'pub_date', 'document_type',
       'news_desk', 'section_name', 'byline', 'type_of_material', '_id',
       'word_count', 'uri', 'print_section', 'print_page', 'subsection_name',
       'slideshow_credits'],
      dtype='object')

In [33]:
col_ke = ['abstract', 'lead_paragraph', 'headline', 'keywords', 'type_of_material', 'news_desk', 'section_name', 'byline']

df= df[col_ke]

In [34]:
df.head()

,abstract,lead_paragraph,headline,keywords,type_of_material,news_desk,section_name,byline
0,This word has appeared in 993 articles on NYTi...,The word reluctant has appeared in 993 article...,"{'main': 'Word of the Day: reluctant', 'kicker...",[],News,Learning,The Learning Network,"{'original': 'By The Learning Network', 'perso..."
1,"With the victory, the Christopher Nolan biopic...",There’s simply no stopping “Oppenheimer.”,{'main': '‘Oppenheimer’ Wins Producers Guild A...,"[{'name': 'subject', 'value': 'Academy Awards ...",News,Culture,Movies,"{'original': 'By Kyle Buchanan', 'person': [{'..."
2,"Quotation of the Day for Monday, February 26, ...",“We understand that Florida is weird. We embra...,{'main': 'Quotation of the Day: Florida Man Is...,[],Quote,Summary,Corrections,"{'original': None, 'person': [], 'organization..."
3,"No corrections appeared in print on Monday, Fe...",Errors are corrected during the press run when...,"{'main': 'No Corrections: Feb. 26, 2024', 'kic...",[],News,Corrections,Corrections,"{'original': None, 'person': [], 'organization..."
4,FX premieres a new show set in Japan in the 16...,For those like myself who still haven’t cut th...,{'main': 'What’s on TV This Week: ‘Shogun’ and...,"[{'name': 'subject', 'value': 'Television', 'r...",News,Culture,Arts,"{'original': 'By Shivani Gonzalez', 'person': ..."

In [35]:
print(df.loc[1, 'headline'])

{'main': '‘Oppenheimer’ Wins Producers Guild Award. Is the Best-Picture Oscar Next?', 'kicker': 'The Projectionist', 'content_kicker': None, 'print_headline': None, 'name': None, 'seo': None, 'sub': None}

In [36]:
print(df.loc[1, 'keywords'])

[{'name': 'subject', 'value': 'Academy Awards (Oscars)', 'rank': 1, 'major': 'N'}, {'name': 'subject', 'value': 'Movies', 'rank': 2, 'major': 'N'}, {'name': 'organizations', 'value': 'Producers Guild of America', 'rank': 3, 'major': 'N'}, {'name': 'persons', 'value': 'Nolan, Christopher', 'rank': 4, 'major': 'N'}, {'name': 'creative_works', 'value': 'Oppenheimer (Movie)', 'rank': 5, 'major': 'N'}]

### Extract value info from "headline" and "keywords"

In [37]:
#extract value texts from "headline" and "keywords"
def string_to_dict(string):
    try:
        return ast.literal_eval(string)
    except ValueError:
        return {}
    
def string_to_list_of_dicts(string):
    try:
        return ast.literal_eval(string)
    except ValueError:
        return []
#for the 'headline', extract the value associated with the 'main' key.
df['headline_text'] = df['headline'].apply(lambda x: string_to_dict(x).get('main', ''))

#for the "keywords", extract the "value" key
df['keywords_text'] = df['keywords'].apply(lambda x: ' '.join([kw.get('value', '') for kw in string_to_list_of_dicts(x)]))

In [38]:
df = df.drop(["headline", "keywords"], axis = 1)
df.head()

,abstract,lead_paragraph,type_of_material,news_desk,section_name,byline,headline_text,keywords_text
0,This word has appeared in 993 articles on NYTi...,The word reluctant has appeared in 993 article...,News,Learning,The Learning Network,"{'original': 'By The Learning Network', 'perso...",Word of the Day: reluctant,
1,"With the victory, the Christopher Nolan biopic...",There’s simply no stopping “Oppenheimer.”,News,Culture,Movies,"{'original': 'By Kyle Buchanan', 'person': [{'...",‘Oppenheimer’ Wins Producers Guild Award. Is t...,Academy Awards (Oscars) Movies Producers Guild...
2,"Quotation of the Day for Monday, February 26, ...",“We understand that Florida is weird. We embra...,Quote,Summary,Corrections,"{'original': None, 'person': [], 'organization...",Quotation of the Day: Florida Man Is In on the...,
3,"No corrections appeared in print on Monday, Fe...",Errors are corrected during the press run when...,News,Corrections,Corrections,"{'original': None, 'person': [], 'organization...","No Corrections: Feb. 26, 2024",
4,FX premieres a new show set in Japan in the 16...,For those like myself who still haven’t cut th...,News,Culture,Arts,"{'original': 'By Shivani Gonzalez', 'person': ...",What’s on TV This Week: ‘Shogun’ and ‘The Regime’,Television Movies

### Concatenation of Text Features

In [39]:
df['combined_text'] = df['abstract'].astype(str) + ' ' + df['lead_paragraph'].astype(str) + ' ' + df['headline_text'].astype(str) + ' ' + df['keywords_text'].astype(str)

In [40]:
df = df.drop(['abstract', 'lead_paragraph', 'headline_text', 'keywords_text'], axis=1)

In [41]:
df.tail()

,type_of_material,news_desk,section_name,byline,combined_text
995,News,Politics,U.S.,"{'original': 'By Neil Vigdor', 'person': [{'fi...",Republicans in the battleground state are brac...
996,News,Foreign,World,"{'original': 'By Constant Méheut', 'person': [...",Russia’s capture of a city that had been a str...
997,News,National,U.S.,"{'original': 'By Danny Hakim, Richard Fausset ...",Regardless of whether Fani T. Willis is disqua...
998,News,Foreign,World,"{'original': 'By Peter Baker, David E. Sanger ...",President Volodymyr Zelensky pushed back again...
999,News,Climate,Climate,"{'original': 'By Dionne Searcey', 'person': [{...",Legislators there and in several other states ...

In [42]:
print(df.loc[1, 'combined_text'])

With the victory, the Christopher Nolan biopic has swept the guild prizes, a strong predictor of its chances at the Academy Awards. There’s simply no stopping “Oppenheimer.” ‘Oppenheimer’ Wins Producers Guild Award. Is the Best-Picture Oscar Next? Academy Awards (Oscars) Movies Producers Guild of America Nolan, Christopher Oppenheimer (Movie)

In [43]:
df["news_desk"].value_counts()

news_desk
Foreign                     117
Culture                      65
Politics                     61
Business                     56
OpEd                         55
Washington                   46
Express                      43
Styles                       42
Metro                        36
Games                        35
National                     32
BookReview                   29
Science                      27
NYTNow                       24
Weekend                      23
Obits                        23
Arts&Leisure                 19
Podcasts                     18
Dining                       18
Learning                     14
Magazine                     13
RealEstate                   12
Climate                      10
Metropolitan                 10
Travel                        9
Corrections                   9
Summary                       9
Well                          9
TStyle                        7
Books                         7
Letters                       7
U.S.                          5
SundayBusiness                4
Insider                       4
Graphics                      3
Real Estate                   3
SpecialSections               2
Upshot                        2
Business Day                  2
Arts                          2
Investigative                 2
Opinion                       1
The Learning Network          1
Crosswords & Games            1
Briefing                      1
Smarter Living                1
The Upshot                    1
World                         1
Projects and Initiatives      1
Name: count, dtype: int64

In [44]:
df["news_desk"].unique()

array(['Learning', 'Culture', 'Summary', 'Corrections', 'OpEd', 'NYTNow',
       'Foreign', 'Politics', 'U.S.', 'Express', 'Washington', 'Games',
       'National', 'Styles', 'Science', nan, 'Dining', 'Letters',
       'Upshot', 'Business', 'Podcasts', 'Magazine', 'Arts&Leisure',
       'BookReview', 'SundayBusiness', 'Books', 'Metro', 'Metropolitan',
       'Obits', 'Graphics', 'Climate', 'Well', 'RealEstate', 'World',
       'TStyle', 'The Upshot', 'Travel', 'Business Day', 'Smarter Living',
       'Arts', 'Briefing', 'Real Estate', 'Insider', 'Investigative',
       'Weekend', 'SpecialSections', 'Crosswords & Games',
       'The Learning Network', 'Opinion', 'Projects and Initiatives'],
      dtype=object)

In [45]:
df["section_name"].unique()

array(['The Learning Network', 'Movies', 'Corrections', 'Arts', 'Opinion',
       'Briefing', 'World', 'U.S.', 'Theater', 'Crosswords & Games',
       'Business Day', 'Style', 'Health', 'Food', 'The Upshot',
       'Podcasts', 'Magazine', 'Today’s Paper', 'Science', 'Technology',
       'Books', 'New York', 'Sports', 'Climate', 'Well',
       'Fashion & Style', 'Real Estate', 'T Magazine', 'Travel',
       'Smarter Living', 'Your Money', 'Times Insider', nan, 'T Brand',
       'Headway', 'Obituaries'], dtype=object)

In [46]:
df["section_name"].value_counts()

section_name
U.S.                    180
World                   154
Arts                     69
Opinion                  64
Business Day             62
New York                 46
Style                    45
Movies                   37
Books                    37
Crosswords & Games       35
Briefing                 20
Podcasts                 19
Corrections              18
Food                     18
Theater                  16
Real Estate              15
The Learning Network     15
Magazine                 14
Science                  14
Health                   14
Technology               12
Climate                   9
Well                      9
Travel                    9
T Magazine                8
T Brand                   6
Times Insider             4
The Upshot                3
Sports                    3
Fashion & Style           2
Headway                   2
Today’s Paper             1
Your Money                1
Smarter Living            1
Obituaries                1
Name: count, dtype: int64

### Consolidate Rare Categories in "news_desk

In [47]:

#Consolidate Rare Categories in "news_desk"

df['news_desk'] = df['news_desk'].replace({
    'Sports / Soccer': 'Sports',
    'Business / Energy & Environment': 'Business',
    'NODESK': 'Unknown',
    '0': 'Unknown',
    'Styles': 'Style & Fashion',
    'Fashion & Style': 'Style & Fashion',
    'TStyle': 'Style & Fashion',
    'Arts&Leisure': 'Arts & Culture',
    'Culture': 'Arts & Culture',
    'TCulture': 'Arts & Culture',
    'Editorial': 'Opinion & Editorial',
    'OpEd': 'Opinion & Editorial',
    'Opinion': 'Opinion & Editorial',
    'Dining': 'Lifestyle & Leisure',
    'Travel': 'Lifestyle & Leisure',
    'Well': 'Lifestyle & Leisure',
    'Home': 'Lifestyle & Leisure'
})

# Handling infrequent categories
infrequent_desks = df['news_desk'].value_counts()[df['news_desk'].value_counts() < 5].index
df['news_desk'] = df['news_desk'].replace(infrequent_desks, 'Other')

In [48]:
df["news_desk"].value_counts()

news_desk
Foreign                117
Arts & Culture          84
Politics                61
Business                56
Opinion & Editorial     56
Style & Fashion         49
Washington              46
Express                 43
Lifestyle & Leisure     36
Metro                   36
Games                   35
National                32
Other                   31
BookReview              29
Science                 27
NYTNow                  24
Obits                   23
Weekend                 23
Podcasts                18
Learning                14
Magazine                13
RealEstate              12
Metropolitan            10
Climate                 10
Corrections              9
Summary                  9
Letters                  7
Books                    7
U.S.                     5
Name: count, dtype: int64

In [49]:
print(df.loc[1, 'byline'])

{'original': 'By Kyle Buchanan', 'person': [{'firstname': 'Kyle', 'middlename': None, 'lastname': 'Buchanan', 'qualifier': None, 'title': None, 'role': 'reported', 'organization': '', 'rank': 1}], 'organization': None}

### Extract Author's name from "byline"

In [50]:


def extract_author(byline):
    if pd.isna(byline) or not byline:
        return ''  # Return empty string if byline is NaN or empty

    try:
        byline_dict = ast.literal_eval(byline)
        if 'person' in byline_dict and byline_dict['person']:
            person_info = byline_dict['person'][0]
            first_name = person_info.get('firstname', '')
            last_name = person_info.get('lastname', '')
            return f"{first_name} {last_name}".strip()
        elif 'original' in byline_dict and byline_dict['original']:
            return byline_dict.get('original', '').split('By ')[-1].strip()
        else:
            return ''
    except (ValueError, SyntaxError):
        return ''

df['author'] = df['byline'].apply(extract_author)

df = df.drop(columns=['byline'])

In [51]:
df.head()

,type_of_material,news_desk,section_name,combined_text,author
0,News,Learning,The Learning Network,This word has appeared in 993 articles on NYTi...,The Learning Network
1,News,Arts & Culture,Movies,"With the victory, the Christopher Nolan biopic...",Kyle Buchanan
2,Quote,Summary,Corrections,"Quotation of the Day for Monday, February 26, ...",
3,News,Corrections,Corrections,"No corrections appeared in print on Monday, Fe...",
4,News,Arts & Culture,Arts,FX premieres a new show set in Japan in the 16...,Shivani Gonzalez

In [52]:
df["author"].value_counts()

author
                                    80
New York Times Games                24
The Learning Network                11
Jazmine Ulloa                        9
Maggie Astor                         6
                                    ..
Eimear Lynch                         1
The International Herald Tribune     1
Aurelien Breeden                     1
Maya Phillips                        1
Dionne Searcey                       1
Name: count, Length: 553, dtype: int64

In [53]:
df.to_csv(OUTPUT, index=False)