In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('combined_nyt_articles.csv')

In [3]:
df.sample(5)

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,...,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri,subsection_name,slideshow_credits
1134,The bride is a candidate for two graduate degr...,https://www.nytimes.com/2012/12/02/fashion/wed...,The bride is a candidate for two graduate degr...,Valerie Miriam Baron and Ari Benjamin Gerstman...,ST,22,The New York Times,"[{'rank': 0, 'subtype': 'blog480', 'caption': ...","{'main': 'Valerie Baron, Ari Gerstman', 'kicke...","[{'name': 'subject', 'value': 'Weddings and En...",...,article,Society,Fashion & Style,"{'original': None, 'person': [], 'organization...",News,nyt://article/b300dbd8-d96e-596f-bf53-4573a5fe...,274,nyt://article/b300dbd8-d96e-596f-bf53-4573a5fe...,Weddings,NaN
492,One apartment building will be allowed in the ...,https://www.nytimes.com/2011/08/02/nyregion/ho...,One apartment building will be allowed in the ...,After months of uncertainty over the fate of t...,A,20.0,The New York Times,[],{'main': 'Housing Deal Ensures Park in Brookly...,"[{'name': 'glocations', 'value': 'Brooklyn Bri...",...,article,Metro,New York,"{'original': 'By Lisa W. Foderaro', 'person': ...",News,nyt://article/09b8802a-1777-52b2-8bd5-5bad2e02...,656,nyt://article/09b8802a-1777-52b2-8bd5-5bad2e02...,NaN,NaN
1504,After more than a decade in which San Francisc...,https://www.nytimes.com/2012/01/01/us/an-unlik...,After more than a decade in which San Francisc...,"Susan Beckstead stepped out of her sky-blue, t...",A,25A,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'An Unlikely Group Rebels Against Pre...,"[{'name': 'subject', 'value': 'Historic Buildi...",...,article,National,U.S.,"{'original': 'By Matt Smith', 'person': [{'fir...",News,nyt://article/d22bc19c-f690-514c-bb55-d78a9928...,1164,nyt://article/d22bc19c-f690-514c-bb55-d78a9928...,NaN,NaN
1644,The stresses of school exams and parenthood co...,https://www.nytimes.com/2014/01/01/nyregion/co...,The stresses of school exams and parenthood co...,The load on a full-time college student is a h...,A,17.0,The New York Times,"[{'rank': 0, 'subtype': 'wide', 'caption': Non...","{'main': 'College, Not Just for Himself, but f...","[{'name': 'subject', 'value': 'Philanthropy', ...",...,article,Metro,New York,"{'original': 'By Sandra E. Garcia', 'person': ...",News,nyt://article/c4e1a1ee-b06b-5e9c-8682-85e456a3...,917,nyt://article/c4e1a1ee-b06b-5e9c-8682-85e456a3...,NaN,NaN
3455,President Viktor F. Yanukovich’s control over ...,https://www.nytimes.com/2010/10/02/world/europ...,President Viktor F. Yanukovich’s control over ...,President Viktor F. Yanukovich’s control over...,A,8.0,The New York Times,[],{'main': 'Ukraine: Court Gives President Some ...,"[{'name': 'subject', 'value': 'Legislatures an...",...,article,Foreign,World,"{'original': 'By Clifford J. Levy', 'person': ...",Brief,nyt://article/880b9086-a312-5be4-b162-9949ef31...,117,nyt://article/880b9086-a312-5be4-b162-9949ef31...,Europe,NaN

In [4]:
df.shape

(4100, 21)

In [5]:
df['source'].value_counts()

source
The New York Times              3796
Reuters                           77
Wirecutter                        13
International Herald Tribune      10
International New York Times       4
Reuters UK                         2
CNBC                               1
Name: count, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abstract           3899 non-null   object
 1   web_url            4100 non-null   object
 2   snippet            3887 non-null   object
 3   lead_paragraph     4010 non-null   object
 4   print_section      2976 non-null   object
 5   print_page         2978 non-null   object
 6   source             3903 non-null   object
 7   multimedia         4100 non-null   object
 8   headline           4100 non-null   object
 9   keywords           4100 non-null   object
 10  pub_date           4100 non-null   object
 11  document_type      4100 non-null   object
 12  news_desk          3419 non-null   object
 13  section_name       3890 non-null   object
 14  byline             4100 non-null   object
 15  type_of_material   3948 non-null   object
 16  _id                4100 non-null   object
 17  word_count         4100 non-null   int64
 18  uri                4100 non-null   object
 19  subsection_name    1558 non-null   object
 20  slideshow_credits  87 non-null     object
dtypes: int64(1), object(20)
memory usage: 672.8+ KB

In [7]:
df.columns

Index(['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section',
       'print_page', 'source', 'multimedia', 'headline', 'keywords',
       'pub_date', 'document_type', 'news_desk', 'section_name', 'byline',
       'type_of_material', '_id', 'word_count', 'uri', 'subsection_name',
       'slideshow_credits'],
      dtype='object')

In [8]:
df.duplicated().sum()

0

In [9]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [10]:
df.shape

(4100, 21)

In [11]:
df.isna().sum()

abstract              201
web_url                 0
snippet               213
lead_paragraph         90
print_section        1124
print_page           1122
source                197
multimedia              0
headline                0
keywords                0
pub_date                0
document_type           0
news_desk             681
section_name          210
byline                  0
type_of_material      152
_id                     0
word_count              0
uri                     0
subsection_name      2542
slideshow_credits    4013
dtype: int64

In [12]:
columns_to_drop = ['snippet', 'print_section', 'print_page', 'source', 'subsection_name', 'slideshow_credits']
df = df.drop(columns=columns_to_drop)

In [13]:
df.shape

(4100, 15)

In [14]:
df.isna().sum()

abstract            201
web_url               0
lead_paragraph       90
multimedia            0
headline              0
keywords              0
pub_date              0
document_type         0
news_desk           681
section_name        210
byline                0
type_of_material    152
_id                   0
word_count            0
uri                   0
dtype: int64

In [15]:
df = df.dropna()

In [16]:
df.shape

(3367, 15)

In [17]:
df.isna().sum()

abstract            0
web_url             0
lead_paragraph      0
multimedia          0
headline            0
keywords            0
pub_date            0
document_type       0
news_desk           0
section_name        0
byline              0
type_of_material    0
_id                 0
word_count          0
uri                 0
dtype: int64

In [18]:
df.head()

,abstract,web_url,lead_paragraph,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri
0,"Point of view — prescriptive, descriptive and ...",https://www.nytimes.com/2009/04/02/garden/02bo...,"Point of view  prescriptive, descriptive and ...","[{'rank': 0, 'subtype': 'articleInline', 'capt...","{'main': 'An Algebraic Approach to Style', 'ki...","[{'name': 'subject', 'value': 'Books and Liter...",2009-04-02 00:00:43+00:00,article,Home,Home & Garden,"{'original': 'By Penelope Green', 'person': [{...",News,nyt://article/b16284bd-135e-58f3-867a-268a1129...,252,nyt://article/b16284bd-135e-58f3-867a-268a1129...
2,Ten high-end design galleries will offer 30 to...,https://www.nytimes.com/2009/04/02/garden/02de...,"Ten high-end design galleries, including Antik...","[{'rank': 0, 'subtype': 'popup', 'caption': No...","{'main': 'Price Cuts and Gift-Card Rescues', '...","[{'name': 'subject', 'value': 'Furniture', 'ra...",2009-04-02 00:06:09+00:00,article,Home,Home & Garden,"{'original': 'By Marianne Rohrlich', 'person':...",News,nyt://article/41dbc26a-064f-52c3-a359-08709e7e...,219,nyt://article/41dbc26a-064f-52c3-a359-08709e7e...
3,Bankers may be suffering but the decline in de...,https://www.nytimes.com/2009/04/02/business/02...,Bankers may be suffering but Wall Street’s leg...,"[{'rank': 0, 'subtype': 'popup', 'caption': No...","{'main': 'Lack of Mergers Idling Lawyers', 'ki...","[{'name': 'subject', 'value': 'Legal Professio...",2009-04-02 00:06:16+00:00,article,Business,Business Day,"{'original': 'By Lauren Silva Laughlin, Rob Co...",News,nyt://article/b0d0ca7a-d02f-5235-8cdd-e5ed9532...,751,nyt://article/b0d0ca7a-d02f-5235-8cdd-e5ed9532...
4,Florida scaled back its purchase of sugar comp...,https://www.nytimes.com/2009/04/02/us/02evergl...,MIAMI — The Everglades have become yet another...,"[{'rank': 0, 'subtype': 'popup', 'caption': No...",{'main': 'Everglades Restoration Plan Shrinks'...,"[{'name': 'persons', 'value': 'Crist, Charlie'...",2009-04-02 00:07:04+00:00,article,National,U.S.,"{'original': 'By Damien Cave', 'person': [{'fi...",News,nyt://article/3c529f2f-601e-5925-9ab1-cee65fac...,622,nyt://article/3c529f2f-601e-5925-9ab1-cee65fac...
5,"Take-Two Interactive, the maker of Grand Theft...",https://www.nytimes.com/2009/04/02/technology/...,"Take-Two Interactive Software, the maker of th...",[],{'main': 'Video Game Maker to Pay $3 Million t...,"[{'name': 'subject', 'value': 'Suits and Litig...",2009-04-02 00:09:01+00:00,article,Business,Technology,"{'original': 'By Bloomberg News', 'person': [{...",News,nyt://article/46f52436-bc18-5e44-a971-463dae61...,329,nyt://article/46f52436-bc18-5e44-a971-463dae61...

In [19]:
df.to_csv('cleaned_dataset_se.csv', index=False)

In [20]:
df2 = pd.read_csv('cleaned_dataset_se.csv')

In [22]:
df2.shape

(3367, 15)

In [23]:
df2["document_type"].value_counts()

document_type
article       3171
multimedia     196
Name: count, dtype: int64

In [24]:
df2 = df2[df2["document_type"] == 'article']

In [26]:
df2.shape

(3171, 15)

In [27]:
df2["type_of_material"].value_counts()

type_of_material
News               2279
Op-Ed               148
Letter              143
Editorial           140
Review              107
Obituary (Obit)      82
Brief                80
List                 70
Schedule             36
News Analysis        30
Correction           17
Quote                13
Question             10
Text                  5
Series                3
Biography             3
Interview             2
recipe                2
First Chapter         1
Name: count, dtype: int64

In [28]:
df2.to_csv('cleaned_dataset_fo.csv', index=False)

In [29]:
df3 = pd.read_csv('cleaned_dataset_th.csv')

In [30]:
df4 = pd.read_csv('cleaned_dataset_fo.csv')

In [31]:
df3.shape

(3893, 15)

In [32]:
df4.shape

(3171, 15)

In [33]:
import pandas as pd
import glob

# Pattern to match the files. Adjust the pattern to match your files' naming convention
file_pattern = 'cleaned_dataset_*.csv'
csv_files = glob.glob(file_pattern)

# List to hold DataFrames
dfs = []

# Iterate over the files and append to the list
for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)

# Concatenate all DataFrames into one
combined_df = pd.concat(dfs, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_dataset.csv', index=False)

In [34]:
df_com = pd.read_csv('combined_dataset.csv')

In [35]:
df_com.shape

(7064, 15)

In [36]:
df_com["type_of_material"].value_counts()

type_of_material
News               5235
Op-Ed               440
Review              284
Editorial           197
Letter              174
Obituary (Obit)     153
briefing             91
Quote                91
Brief                85
Correction           83
List                 78
Schedule             75
News Analysis        45
Question             16
Text                  5
Biography             3
Series                3
Interview             2
recipe                2
First Chapter         1
Newsletter            1
Name: count, dtype: int64

In [ ]:
#news_rows = df_com[df_com["type_of_material"] == "News"]
#reduced_news_rows = news_rows.iloc[1500:]  # Skip the first 1500
#other_rows = df_com[df_com["type_of_material"] != "News"]
#df_com_reduced = pd.concat([reduced_news_rows, other_rows])